$main: #FF7C03;

* {
    font-family: "Outfit";
    box-sizing: border-box;
}

.app_wrapper {
    overflow: hidden;
}

.page_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    background-color: red;
}

.map_wrapper {
    flex: 1;
    background-color: blue;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_contents {
    width: 1110px;
    margin-bottom: 150px;
}

.logo {
    height: 75px;
}


.number_input {
    padding: 10px 15px;
}

.button {
    padding: 0 15px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 12px;
    background-color: $main;
    color: white;
    border: none;
    font-weight: 600;                                                                                                                                         ;
}

.map_container {
    height: 100%;
    width: 100%;
    background: black;
    position: relative;
}

.map_results {
    position: absolute;
    left: 0;
    width: 350px;
    background-color: white;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,.05);
}

.map_actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results_list {
    margin: 0;
    padding: 0 0 0 20px;
    height: 80%;
    overflow-y: scroll;
}

.result_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid rgb(220, 220, 220);
    &:hover {
        border-bottom: 1px solid rgb(0, 0, 0);
    }
}

.result_label {
    h4, p {
        margin: 0;
    }
}

.result_rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form_logo {
    height: 20px;
}

.form_container {
    position: absolute;
    z-index: 10;
    top: 20px;
    width: 80%;
    background-color: white;
    display: flex;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: 1px 0px 5px 1px rgba(0,0,0,.05);

}
.form_input_container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    border-right: 1px solid #e7e7e7;
    &:last-of-type {
        border: none;
    }
    &:first-of-type {
        flex: 1
    }
}

.form_input {
    height: 30px;
    border: none;
    width: 100%;
    font-size: 12px;
    &:focus {
        outline: transparent;
    }
}

.form_select {
    border: none;
    padding-right: 10px;
    &:focus {
        outline: transparent;
    }
}

.form_icon {
    color: #808080;
}

.button_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    aspect-ratio: 1;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    background-color: white;
    color: $main;

    &:hover {
        background-color: #f1f1f1;

    }

    &:hover + .button_label {
        display: flex;
    }
}

.button_label {
    position: absolute;
    background-color: white;
    top: 50px;
    border-radius: 5px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 10px;
    box-shadow: 1px 0px 5px 1px rgba(0,0,0,.05);
    white-space: nowrap;
}
